@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('Lato-BlackItalic.woff2') format('woff2'),
         url('Lato-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}